[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

.vscode/
.idea/
.vs/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.code-workspace

.DS_Store
Thumbs.db

Assets/TerrainDemoScene_URP/
Assets/_Recovery/
Assets/TutorialInfo/
Assets/Readme.asset
Assets/Readme.asset.meta
Assets/StarterAssets/Readme.asset
Assets/StarterAssets/Readme.asset.meta
Assets/StarterAssets/TutorialInfo/
Assets/StarterAssets/StarterAssets_Documentation_v1.1.pdf
Assets/StarterAssets/StarterAssets_Documentation_v1.1.pdf.meta
Assets/StarterAssets/Environment/
Assets/Editor/